# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

'body':
  'cmd-alt-l': 'pane:show-next-item'
  'cmd-alt-h': 'pane:show-previous-item'
  'cmd-alt-shift-l': 'pane:move-item-right'
  'cmd-alt-shift-h': 'pane:move-item-left'

'body atom-text-editor.autocomplete-active':
  'ctrl-k': 'autocomplete-plus:move-up'
  'ctrl-j': 'autocomplete-plus:move-down'
  'ctrl-u': 'autocomplete-plus:page-up'
  'ctrl-d': 'autocomplete-plus:page-down'
  'home': 'autocomplete-plus:move-to-top'
  'end': 'autocomplete-plus:move-to-bottom'

'atom-workspace atom-text-editor:not([mini])':
  'alt-k':'multi-cursor:expandUp'
  'alt-j':'multi-cursor:expandDown'
  'shift-alt-k':'multi-cursor:move-last-cursor-up'
  'shift-alt-l':'multi-cursor:move-last-cursor-right'
  'shift-alt-j':'multi-cursor:move-last-cursor-down'
  'shift-alt-h':'multi-cursor:move-last-cursor-left'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'f':'easy-motion-redux:letter'
  'F':'easy-motion-redux:letter-select'
